body {
	margin: 0;
	margin-top: 60px;
	padding: 0;
	font-family: sans-serif;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	body {
		margin-top: 110px;
	}
}
